* {
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --gray: rgb(223, 223, 223);
}

.card {
    border: 1px solid var(--gray);
    width: 265px;
    border-radius: 5px;
    overflow: hidden;
}

.card .card_image {
    width: 100%;
    height: 180px;
}

.card .card_image img {
    width: 100%;
    height: 100%;
}

.card .title {
    border-bottom: 1px solid var(--gray);
    padding: 0 15px 0 15px;
    font-size: 15px;
}

.card .title h3 {
    margin: 17px 0 8px 0;
}

.card .title p {
    margin-top: 0;
    line-height: 1.5;
}

.card .items {
    border-bottom: 1px solid var(--gray);
    padding: 0 15px 0 15px;
}

.card .items p {
    margin: 10px 0 10px 0;
}

.card .links {
    padding: 0 15px 0 15px;
    margin: 20px 0 20px 0;
}

.card .links .link_spacing {
    padding-left: 20px;
}